DATABASE_URL="postgresql://user:password@localhost:5432/mptech_gpp?schema=public"
JWT_SECRET="sua-chave-secreta-aqui"
PORT=3001
CORS_ORIGIN="http://localhost:3000,https://mptech-gpp-prod-ui.vercel.app"
